html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-image: url(/Images/bgPic.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.landingpage .landing-page-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.landing-page-hero {
  width: 100%;
  display: flex;
  padding: 24px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.landing-page-container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-text {
  color: #904c4c;
}
.landing-page-text1 {
  color: #904c4c;
  margin-top: 16px;
  text-align: center;
  padding-left: 24px;
  margin-bottom: 16px;
  padding-right: 24px;
  font-size: 72px;
}

.landing-page-subtext {
  color: #904c4c;
  text-align: center;
  font-size: 15px;
}
.landing-page-button {
  color: whitesmoke;
  transition: 0.3s;
  border-style: solid;
  border-color: darkblue;
  padding-top: 8px;
  padding-left: 16px;
  border-radius: 10px;
  padding-right: 16px;
  padding-bottom: 8px;
  align-self: flex-start;
  background-color: whitesmoke;
  text-decoration: none;
  color: darkblue;
}
.landing-page-image {
  width: 20rem;
  margin-top: 16px;
}
@media (max-width: 991px) {
  .landing-page-hero {
    flex-direction: column;
  }
  .landing-page-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 16px;
  }
  .landing-page-text {
    text-align: start;
  }

  .landing-page-subtext {
    text-align: start;
  }
  .landing-page-image {
    width: 20%;
  }
  .landing-page-button {
    margin-left: 0px;
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .landing-page-hero {
    padding-left: 16px;
    padding-right: 16px;
  }
  .landing-page-text {
    color: #904c4c;
  }
  .landing-page-text1 {
    color: #944f4f;
  }
  .landing-page-button {
    padding-top: 16px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 16px;
  }
}
@media (max-width: 479px) {
  .landing-page-hero {
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 16px;
  }
  .landing-page-container1 {
    margin-bottom: 8px;
  }
}
