body {
  font-family: "JetBrains Mono", monospace;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 50px;
  position: absolute;
  right: 8%;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.navigation-links-text,
.navigation-links-text1,
.navigation-links-text2 {
  margin-left: 8px;
  font-size: small;
  font-weight: 200;
}

.main-menu-main-menu {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.main-menu-header {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 16px;
  justify-content: space-between;
  position: relative;
}
.main-menu-image {
  width: 15%;
  object-fit: cover;
}
.main-menu-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.main-menu-burger-menu {
  display: none;
}
.main-menu-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.main-menu-container1 {
  width: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
}
.main-menu-image1 {
  width: 20%;
  height: 100%;
  transform: rotate(-10deg);
  object-fit: cover;
}
.main-menu-container2 {
  width: 90%;
  max-width: 300px;
  align-items: flex-start;
  flex-direction: column;
}
.main-menu-manage-meeting {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-width: 3px;
  border-radius: 8px;
  margin-bottom: 24px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: whitesmoke;
}
.main-menu-text {
  color: rgb(10, 132, 214);
  width: 60%;
  height: 35%;
  font-size: 15px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 18px;
  text-align: center;
  font-family: Inter;
  font-weight: 800;
  line-height: 1.15;
  margin-left: 16px;
  text-transform: none;
  text-decoration: none;
}
.main-menu-button {
  width: 30%;
  height: 20%;
  display: flex;
  align-self: flex-end;
  text-align: center;
  transition: 0.3s;
  padding-top: 8px;
  margin-right: 15px;
  border-radius: 8px;
  flex-direction: row;
  padding-bottom: 0px;
  border: 0;
  border-radius: 6px;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  justify-content: center;
  line-height: 1;
  height: 32px;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 10px;
}

.main-menu-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.main-menu-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.main-menu-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.main-menu-manage-meeting1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-width: 3px;
  border-radius: 8px;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #0a84d6;
}
.main-menu-text5 {
  color: whitesmoke;
  width: 60%;
  height: 35%;
  font-size: 15px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 18px;
  text-align: center;
  font-family: Inter;
  font-weight: 800;
  line-height: 1.15;
  margin-left: 16px;
  text-transform: none;
  text-decoration: none;
  font-family: Inter;
  font-weight: 800;
  line-height: 1.15;
  padding-left: 0px;
  text-transform: none;
  text-decoration: none;
}

.main-menu-button1 {
  width: 100px;
  display: flex;
  align-self: flex-end;
  text-align: center;
  transition: 0.3s;
  padding-top: 8px;
  margin-right: 10px;
  border-radius: 8px;
  flex-direction: row;
  padding-bottom: 0px;
  border: 0;
  border-radius: 6px;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  justify-content: center;
  line-height: 1;
  height: 32px;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 10px;
}

.main-menu-button1:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.main-menu-button1:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.main-menu-button1:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

@media (max-width: 991px) {
  .main-menu-container2 {
    margin-right: 24px;
  }
  .main-menu-text1 {
    color: whitesmoke;
  }

  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: row;
    display: flex;
    flex: 0 0 auto;
  }
  .navigation-links-text {
    margin-bottom: 16px;
  }
  .navigation-links-text1 {
    margin-left: 8px;
    margin-bottom: 16px;
  }
  .navigation-links-text2 {
    margin-left: 8px;
    margin-bottom: 16px;
  }
}

@media (max-width: 767px) {
  .main-menu-header {
    max-width: 100%;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
  }

  .main-menu-header a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .navigation-links-nav {
    display: grid;
    position: absolute;
    width: 100%;
    background: green;
    top: 75px;
    /* left: 0; */
    /* transform: translateY(-100%); */
    /* z-index: -1;
    transition: 0.6s; */
  }

  .main-menu-main-menu {
    position: relative;
  }

  .main-menu-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-menu-container1 {
    width: 100%;
    position: absolute;
    top: 35%;
  }

  .main-menu-container2 {
    width: 100%;
  }
  .main-menu-manage-meeting {
    width: 100%;
    align-self: flex-start;
    margin-right: 8px;
  }
  .main-menu-text {
    text-align: left;
    margin-right: 24px;
  }
  .main-menu-button {
    margin-top: 24px;
  }
  .main-menu-manage-meeting1 {
    width: 100%;
    align-self: flex-start;
    margin-top: 16px;
    margin-right: 8px;
    border-radius: 8px;
  }
}

@media (max-width: 479px) {
  .main-menu-main-menu {
    width: 478px;
    justify-content: flex-start;
  }
  .main-menu-header {
    padding: 16px;
  }
  .main-menu-image1 {
    width: 50%;
    display: none;
  }
  .main-menu-container2 {
    width: 100%;
  }
  .main-menu-manage-meeting {
    width: 100%;
    align-self: flex-start;
  }
  .main-menu-manage-meeting1 {
    width: 100%;
    align-self: center;
  }
}
