body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.13);
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
}

.scheduler-wrapper {
  display: flex;
  gap: 20px;
}

.scheduler {
  flex: 1;
}

.scheduler form {
  background-color: rgba(255, 255, 255, 0.07);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.scheduler label {
  font-weight: bold;
  font-size: 1rem;
  color: rgb(75, 6, 111);
}

.scheduler input,
.scheduler select {
  width: 95%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.01);
  color: rgb(120, 2, 183);
}

.scheduler button {
  background-color: #0073a7;
  border: none;
  color: white;
  padding: 10px;
  font-size: 1rem;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.scheduler button:hover {
  background-color: rgb(120, 2, 183);
}

.meeting-list {
  flex: 1;
}

h2 {
  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

ul {
  background-color: rgba(255, 255, 255, 0.07);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-height: 200px;
  overflow-y: auto;
}

li {
  margin-bottom: 10px;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .scheduler-wrapper {
    flex-direction: column;
  }

  .scheduler,
  .meeting-list {
    flex: unset;
    width: 100%;
  }

  h2 {
    margin-top: 30px;
  }
}
