body {
  font-family: "JetBrains Mono", monospace;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.recover-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
}

.recover-reset {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  background-color: rgba(255, 255, 255, 0.13);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 25%;
  backdrop-filter: blur(10px);
}

h2,
h3 {
  margin: 0;
}

h2 {
  color: rgba(95, 26, 163, 1);
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 5px;
}

h3 {
  color: rgba(69, 89, 105, 0.7953453063964844);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.recover-email-placeholder {
  background-color: rgba(255, 255, 255, 0.07);
}

.recover-email-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.recover-email-text {
  font-size: 16px;
  font-weight: 700;
  margin-right: 10px;
  width: 100%;
}

.input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.recover-email-icon {
  position: absolute;
  width: 26px;
  height: 26px;
  right: 5px;
}

.recover-reset-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(95, 26, 163, 1);
  color: rgba(217, 217, 217, 1);
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(217, 217, 217, 1);
  color: rgba(95, 26, 163, 1);
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .recover-reset {
    padding: 30px;
  }
}

@media (max-width: 479px) {
  .recover-reset {
    padding: 20px;
    width: 90%;
    max-width: none;
  }
}
